<div style="position:relative;
            background-image: url('assets/image/cover.jpg');  
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            opacity: 0.2;" [ngStyle]="{'height':clientHeight + 'px','width':'100%'}">
</div>
<div *ngIf="this.app.IsLoadFinish" style="position: absolute;z-index: 99; bottom: 0px;width: 100%;text-align: center;"
    [ngStyle]="{'height':clientHeight * 0.75 + 'px'}">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"><img (click)="this.router.navigateByUrl('spot');" src="assets/image/景点.png" width="64px"
                    height="64px"></div>
            <div class="col-3"> <img (click)="this.router.navigateByUrl('food');" src="assets/image/美食.png" width="64px"
                    height="64px"></div>
            <div class="col-3"></div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"><img (click)="this.router.navigateByUrl('hotel');" src="assets/image/酒店.png" width="64px"
                    height="64px"></div>
            <div class="col-3"> <img (click)="this.router.navigateByUrl('gift');" src="assets/image/礼物.png" width="64px"
                    height="64px"></div>
            <div class="col-3"></div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"> <img (click)="this.router.navigateByUrl('favitem');" src="assets/image/收藏.png" width="64px"
                    height="64px"></div>
            <div class="col-3"> <img (click)="this.router.navigateByUrl('tool');" src="assets/image/工具.png" width="64px"
                    height="64px"></div>
            <div class="col-3"></div>
        </div>
    </div>
</div>

<div *ngIf="!this.app.IsLoadFinish" style="position: absolute;z-index: 99; bottom: 50px;width: 100%;text-align: center;"
    [ngStyle]="{'height':'50px'}">
    <font color="blue">{{this.app.loadMsg}}</font><br />
    <font color="red">数据加载中，请稍等...</font>
</div>

<div style="position: absolute;z-index: 99; bottom: 0px;width: 100%;text-align: center;" [ngStyle]="{'height':'50px'}">
    ©GrayFur Studio 2019-2020 Powerby Angular 9.1.4
</div>