<div class="frame" style="background-image: url('assets/image/cover.jpg'); "
    [ngStyle]="{'height':clientHeight + 'px','width':'100%'}">
</div>
<div *ngIf="this.app.IsLoadFinish" style="position: absolute;z-index: 99; bottom: 0px;width: 100%;text-align: center;"
    [ngStyle]="{'height':clientHeight * 0.8 + 'px'}">
    <div class="container">

        <div class="row">
            <div class="col-3"></div>
            <div class="col-3" style="text-align: center;">
                <img (click)="this.app.InitScene();this.router.navigateByUrl('introduce');" src="assets/image/旅游.png"
                    width="64px" height="64px">
                <font color="#1296db" size><b>速览</b></font>
            </div>
            <div class="col-3"> <img (click)="this.app.IsAddToPlanMode = true;this.router.navigateByUrl('tool');"
                    src="assets/image/计划.png" width="64px" height="64px">
                <font color="#1296db" size><b>行程计划</b></font>
            </div>
            <div class="col-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"> <img (click)="this.router.navigateByUrl('footprint');" src="assets/image/足迹.png"
                    width="64px" height="64px">
                <font color="#1296db" size><b>足迹</b></font>
            </div>
            <div class="col-3"> <img (click)="this.router.navigateByUrl('favitem');" src="assets/image/收藏.png"
                    width="64px" height="64px">
                <font color="#1296db" size><b>心愿单</b></font>
            </div>
            <div class="col-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"><img (click)="JumpToSpot()" src="assets/image/景点.png" width="64px" height="64px">
                <font color="#1296db" size><b>景点</b></font>
            </div>
            <div class="col-3"> <img (click)="JumpToFood()" src="assets/image/美食.png" width="64px" height="64px">
                <font color="#1296db" size><b>餐厅</b></font>
            </div>
            <div class="col-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"><img (click)="JumpToHotel()" src="assets/image/酒店.png" width="64px" height="64px">
                <font color="#1296db" size><b>宾馆酒店</b></font>
            </div>
            <div class="col-3"> <img (click)="this.router.navigateByUrl('gift');" src="assets/image/礼物.png" width="64px"
                    height="64px">
                <font color="#1296db" size><b>伴手礼</b></font>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>

<div *ngIf="!this.app.IsLoadFinish"
    style="position: absolute;z-index: 99; bottom: 100px;width: 100%;text-align: center;"
    [ngStyle]="{'height':'100px'}">
    <div class="sk-chase" style="height: 50px;width: 50px;margin: auto;">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
    <br /><br />
    <font color="#1296db">{{this.app.loadMsg}}</font><br />
    <font color="#1296db">首次启动应用，初始化数据加载中，请稍等...</font>
</div>

<div style="position: absolute;z-index: 99; bottom: 0px;width: 100%;text-align: center;" [ngStyle]="{'height':'50px'}">
    <b>©GrayFur Studio 2019-2020 Powerby Angular 9.1.11</b>
    <br />
    <!-- <button (click)="SimulateLocation()">模拟深圳地址</button> -->
</div>