<div class="frame" style="background-image: url('assets/image/cover.jpg'); " [ngStyle]="{'height':clientHeight + 'px','width':'100%'}">
</div>
<div *ngIf="this.app.IsLoadFinish" style="position: absolute;z-index: 99; bottom: 0px;width: 100%;text-align: center;"
    [ngStyle]="{'height':clientHeight * 0.75 + 'px'}">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"><img
                    (click)="this.app.IsAddToPlanMode = false;this.app.SpotList_CurrentShow = this.app.SpotList_GradeA;this.router.navigateByUrl('spot');"
                    src="assets/image/景点.png" width="64px" height="64px"></div>
            <div class="col-3"> <img
                    (click)="this.app.IsAddToPlanMode = false;this.app.FoodList_CurrentShow = this.app.FoodList_Hot;this.router.navigateByUrl('food');"
                    src="assets/image/美食.png" width="64px" height="64px"></div>
            <div class="col-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"><img
                    (click)="this.app.IsAddToPlanMode = false;this.app.HotelList_CurrentShow = this.app.HotelList_Hot;this.router.navigateByUrl('hotel');"
                    src="assets/image/酒店.png" width="64px" height="64px"></div>
            <div class="col-3"> <img (click)="this.router.navigateByUrl('gift');" src="assets/image/礼物.png" width="64px"
                    height="64px"></div>
            <div class="col-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"> <img (click)="this.app.IsAddToPlanMode = true;this.router.navigateByUrl('tool');"
                    src="assets/image/工具.png" width="64px" height="64px"></div>
            <div class="col-3"> <img (click)="this.router.navigateByUrl('footprint');" src="assets/image/足迹.png"
                    width="64px" height="64px"></div>
            <div class="col-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"> <img (click)="this.app.InitScene();this.router.navigateByUrl('introduce');"
                    src="assets/image/介绍.png" width="64px" height="64px"></div>
            <div class="col-3"> <img (click)="this.router.navigateByUrl('favitem');" src="assets/image/收藏.png"
                    width="64px" height="64px"></div>
            <div class="col-3"></div>
        </div>

    </div>
</div>

<div *ngIf="!this.app.IsLoadFinish" style="position: absolute;z-index: 99; bottom: 100px;width: 100%;text-align: center;"
    [ngStyle]="{'height':'100px'}">
    <div class="sk-chase" style="height: 50px;width: 50px;margin: auto;">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
      <br /><br />
    <font color="blue">{{this.app.loadMsg}}</font><br />
    <font color="red">数据加载中，请稍等...</font>
</div>

<div style="position: absolute;z-index: 99; bottom: 0px;width: 100%;text-align: center;" [ngStyle]="{'height':'50px'}">
    ©GrayFur Studio 2019-2020 Powerby Angular 9.1.9<br />
    <button (click)="SimulateLocation()">模拟深圳地址</button>
</div>