<section class="content-header">
    <h1>
        客流量
    </h1>
    <ol class="breadcrumb">
        <li><a href="/traffic/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            客流量
        </li>
    </ol>
</section>
<section class="content">
     <div class="row">
        <div class="col-md-6">
            <chart [options]="dmsweekdayoption" [title]="'大梅沙预订'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6"  (ChartInit)="this.GetDMSWeekChart($event)"> 
            </chart>
        </div>
        <div class="col-md-6">
            <chart [options]="dmsweekdayoption" [title]="'大梅沙入园'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6"  (ChartInit)="this.GetDMSWeekChart_InCount($event)"> 
            </chart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <chart [options]="top10option" [title]="'大梅沙入园TOP10'" [boxstyle]="this._commonFunction.boxstyle_Col6"
                [chartstyle]="this._commonFunction.chartstyle_Col6"  (ChartInit)="this.GetDMSWeekChart_Top10($event)"> 
            </chart>
        </div>
        <div class="col-md-6">

        </div>
    </div>
 </section>