<section class="content-header">
    <h1>
        热门美食
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            热门美食
        </li>
    </ol>
</section>
<section class="content">
    <div class="alert alert-primary" role="alert">
        餐厅提供食物的TOP20，橙色表示两个城市都有的食物。从数据可以看到，广东特色美食并没有在很突出的位置，可以考虑餐饮业增加广东传统美食的比例。
    </div>
    <div class="row">
        <div class="col-md-12">
            <chart [options]="foodszoption" [title]="'深圳市'" [boxstyle]="this._commonFunction.boxstyle_Col12"
                [chartstyle]="this._commonFunction.chartstyle_Col12">
            </chart>
        </div>
        <div class="col-md-12">
            <chart [options]="foodjmoption" [title]="'江门市'" [boxstyle]="this._commonFunction.boxstyle_Col12"
                [chartstyle]="this._commonFunction.chartstyle_Col12">
            </chart>
        </div>
    </div>
</section>