<section class="content-header">
    <h1>
        {{_title}}
    </h1>
    <ol class="breadcrumb">
        <li><a href="/traffic/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
             {{_title}}
        </li>
    </ol>
</section>
&nbsp;&nbsp;&nbsp;&nbsp;过滤器：<input type="text" #key>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" (click)="Search(key.value)">检索</button>
&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" #park checked (click)="ParkStatusChange(park.checked)"/>停车场
&nbsp;&nbsp;&nbsp;&nbsp;
<p-selectButton style="vertical-align:bottom;" [options]="spotType" [(ngModel)]="selectedspotType" (onChange)="spotTypeSwith()"></p-selectButton><br /><br />
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <chart [options]="_map" [title]="_title" [boxstyle]="this._commonFunction.boxstyle_Col12_Row2"
                [chartstyle]="this._commonFunction.boxstyle_Col12_Row2" (ChartInit)="this.GetChart($event)"></chart>
        </div>
    </div>
</section>