

<button class="btn btn-primary" (click)="LoadFromLoalStorage()">加载图像</button>
<button class="btn btn-primary" (click)="Return()">返回</button>
<div id="preview" width="320px">

</div>

<div style="position:relative;"
    [ngStyle]="{'height':this.appservice.clientHeight + 'px','width':appservice.clientWidth + 'px'}">
    <nav class="navbar navbar-light bg-light" style="position: absolute;z-index: 99;top:0px;width: 100%;">
        <img src="assets/image/足迹.png" width="30" height="30" alt="">
        我的足迹
        <button class="btn btn-outline-success my-2 my-sm-0"  style="float: right;" (click)="this.router.navigateByUrl('addfootprint');"><i class="fas fa-plus"></i>添加</button>
        <img src="assets/image/返回.png" width="30" height="30" alt="" (click)="Return()" style="float: right;">
    </nav>
    <div style="position: absolute;z-index: 99;top:50px;text-align: center;overflow-y: scroll;"
        [ngStyle]="{height:this.appservice.clientHeight-50 + 'px','width':appservice.clientWidth + 'px'}">
    </div>
</div>

