<div style="position:relative;"
    [ngStyle]="{'height':this.appservice.clientHeight + 'px','width':appservice.clientWidth + 'px'}">
    <nav class="navbar navbar-light bg-light" style="position: absolute;z-index: 99;top:0px;width: 100%;">
        <img src="assets/image/工具.png" width="30" height="30" alt="">
        {{this.appservice.CurrentDailyInfo.strDate}}({{this.appservice.CurrentDailyInfo.strWeek}})
        <img src="assets/image/返回.png" width="30" height="30" alt="" (click)="Return()" style="float: right;">
    </nav>
    <div style="position: absolute;z-index: 99;top:50px;text-align: center;overflow-y: scroll;"
        [ngStyle]="{height:this.appservice.clientHeight-50 + 'px','width':appservice.clientWidth + 'px'}">

        <p-tabView>
            <p-tabPanel header="景点">
                <button style="width: 64px;height: 36px;float: right;" class="btn btn-success"
                    (click)="PlusASpot()"><i
                        class="fas fa-plus"></i>&nbsp;A级</button>
                        <button class="btn btn-danger" style="width: 64px;height: 36px;float: right;" (click)="PlusRed()"><i
                            class="fas fa-plus"></i>&nbsp;红色</button>
                        <button class="btn btn-primary" style="width: 64px;height: 36px;float: right;" (click)="PlusCult()"><i
                            class="fas fa-plus"></i>&nbsp;文化</button>
                        <button class="btn btn-success" style="width: 64px;height: 36px;float: right;" (click)="PlusRelax()"><i
                            class="fas fa-plus"></i>&nbsp;休闲</button>
                <br />
                <br />
                <br />
                <spot-item *ngFor="let s of this.appservice.CurrentDailyInfo.Spot" [Spot]="s" [Mode]="1">
                </spot-item>
            </p-tabPanel>
            <p-tabPanel header="餐饮">
                <button style="width: 96px;height: 36px;float: right;" class="btn btn-success"
                    (click)="this.appservice.IsAddToPlanMode = true;this.appservice.FoodList_CurrentShow = this.appservice.FoodList_Hot;this.router.navigateByUrl('food');"><i
                        class="fas fa-plus"></i>&nbsp;添加</button>
                <br />
                <br />
                <br />
                <food-item *ngFor="let s of this.appservice.CurrentDailyInfo.Food" [Food]="s" [Mode]="1">
                </food-item>
            </p-tabPanel>
            <p-tabPanel header="酒店">
                <button style="width: 96px;height: 36px;float: right;" class="btn btn-success"
                    (click)="this.appservice.IsAddToPlanMode = true;this.appservice.HotelList_CurrentShow = this.appservice.HotelList_Hot;this.router.navigateByUrl('hotel');"><i
                        class="fas fa-plus"></i>&nbsp;添加</button>
                <br />
                <br />
                <br />
                <hotel-item *ngIf="this.appservice.CurrentDailyInfo.Hotel!==null"
                    [Hotel]="this.appservice.CurrentDailyInfo.Hotel" [Mode]="1"></hotel-item>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>