<div class="frame-items"
    [ngStyle]="{'height':this.appservice.clientHeight + 'px','width':appservice.clientWidth + 'px'}">
 
</div>
<nav class="navbar navbar-light bg-light" style="position: absolute;z-index: 99;top:0px;width: 100%;">
        <img src="assets/image/计划.png" width="30" height="30" alt="">
        {{this.appservice.CurrentDailyInfo.strDate}}({{this.appservice.CurrentDailyInfo.strWeek}})
        <img src="assets/image/返回.png" width="30" height="30" alt="" (click)="Return()" style="float: right;">
    </nav>
    <div style="position: absolute;z-index: 99;top:42px;text-align: center;overflow-y: scroll;"
        [ngStyle]="{height:this.appservice.clientHeight-50 + 'px','width':appservice.clientWidth + 'px'}">

        <p-tabView>
            <p-tabPanel header="景点">
                <button style="float: right;" class="btn btn-success" (click)="PlusASpot()"><i
                        class="fas fa-plus"></i>&nbsp;热门</button>
                <button class="btn btn-danger" style="float: right;" (click)="PlusRed()"><i
                        class="fas fa-plus"></i>&nbsp;红色</button>
                <button class="btn btn-primary" style="float: right;" (click)="PlusCult()"><i
                        class="fas fa-plus"></i>&nbsp;文化</button>
                <button class="btn btn-success" style="float: right;" (click)="PlusRelax()"><i
                        class="fas fa-plus"></i>&nbsp;休闲</button>
                <button class="btn btn-info" style="float: right;" (click)="PlusChild()"><i
                        class="fas fa-plus"></i>&nbsp;亲子</button>
                <button class="btn btn-warning" style="float: right;" (click)="PlusFar()"><i
                        class="fas fa-plus"></i>&nbsp;收藏</button>
                <br />
                <br />
                <br />
                <spot-item *ngFor="let s of this.appservice.CurrentDailyInfo.Spot" [Spot]="s" [Mode]="1">
                </spot-item>
            </p-tabPanel>
            <p-tabPanel header="餐饮">
                <button style="float: right;" class="btn btn-success" (click)="PlusHotFood()"><i
                        class="fas fa-plus"></i>&nbsp;热门</button>
                <button style="float: right;" class="btn btn-warning" (click)="PlusFavFood()"><i
                        class="fas fa-plus"></i>&nbsp;收藏</button>
                <br />
                <br />
                <br />
                <food-item *ngFor="let s of this.appservice.CurrentDailyInfo.Food" [Food]="s" [Mode]="1">
                </food-item>
            </p-tabPanel>
            <p-tabPanel header="酒店">
                <button style="float: right;" class="btn btn-success" (click)="PlusHotHotel()"><i
                        class="fas fa-plus"></i>&nbsp;热门</button>
                <button style="float: right;" class="btn btn-warning" (click)="PlusFavHotel()"><i
                        class="fas fa-plus"></i>&nbsp;收藏</button>
                <br />
                <br />
                <br />
                <hotel-item *ngIf="this.appservice.CurrentDailyInfo.Hotel!==null"
                    [Hotel]="this.appservice.CurrentDailyInfo.Hotel" [Mode]="1"></hotel-item>
            </p-tabPanel>
        </p-tabView>
    </div>