<div style="position:relative;"
    [ngStyle]="{'height':this.appservice.clientHeight + 'px','width':appservice.clientWidth + 'px'}">
    <nav class="navbar navbar-light bg-light" style="position: absolute;z-index: 99;top:0px;width: 100%;">
        <img src="assets/image/景点.png" width="30" height="30" alt="">
        {{this.SpotDetailInfo.Name}}
        <img src="assets/image/返回.png" width="30" height="30" alt="" (click)="Return()" style="float: right;">
    </nav>
    <div style="position: absolute;z-index: 99;top:50px;text-align: center;overflow-y: scroll; margin: 20px;"
        [ngStyle]="{height:this.appservice.clientHeight - 90 + 'px','width':appservice.clientWidth - 40 + 'px'}">
        <p-tabView>
            <p-tabPanel header="详细">
                <div *ngIf="this.SpotDetailInfo.Description" style="text-align: left;">
                    {{this.SpotDetailInfo.Description}}<br /><br />
                    <b>交通：</b>{{this.SpotDetailInfo.TrafficGuide}} <br />
                    <b>营业时间：</b>{{this.SpotDetailInfo.OpenTime}} <br />
                    <b>电话：</b><a [href]="'tel:' + this.SpotDetailInfo.ServiceTel">
                        {{this.SpotDetailInfo.ServiceTel}}</a>
                </div>
                <div *ngIf="this.SpotDetailInfo.lat !== -1">
                    <br />
                    <span *ngIf="this.distence"><b>距离您的距离：</b>{{this.distence}}</span>
                    <br />
                    <echarts [options]="this.option" style="width: 320px;height: 320px;"></echarts>
                </div>
            </p-tabPanel>
            <p-tabPanel *ngIf="TourInfoList.length !==0" header="组团">
                <ul>
                    <li *ngFor="let t of TourInfoList" style="text-align: left;">
                        {{t.Name}}:{{t.Days}}(人均：{{t.Price}})<br />{{t.Description}}
                    </li>
                </ul>
            </p-tabPanel>
            <p-tabPanel *ngIf="this.SpotDetailInfo.Comments !== null && this.SpotDetailInfo.Comments.length !==0"
                header="评论" style="text-align: left;">
                <b>打分人数：</b>{{this.SpotDetailInfo.ScoreCnt}} <br />
                <b>景色：</b>{{this.SpotDetailInfo.Scenery}} &nbsp;&nbsp;&nbsp;&nbsp;
                <b>趣味：</b>{{this.SpotDetailInfo.Funny}} &nbsp;&nbsp;&nbsp;&nbsp;
                <b>性价比：</b>{{this.SpotDetailInfo.PriceValue}}
                <br />
                <b>评论数：</b>{{this.SpotDetailInfo.CommentCount}} (展示前50条)
                <echarts [options]="this.opiton_wordcoudy" style="width: 320px;height: 320px;"></echarts>
                <ul>
                    <li *ngFor="let c of this.SpotDetailInfo.Comments.slice(0,100)">
                        {{c}}
                    </li>
                </ul>
            </p-tabPanel>
            <p-tabPanel header="附近餐厅">
                <ul>
                    <li *ngFor="let t of this.SpotDetailInfo.NearFood" style="text-align: left;">
                        {{t.Item1}}（{{ this.appservice.formatdistence(t.Item2)}}）
                    </li>
                </ul>
            </p-tabPanel>
            <p-tabPanel header="附近宾馆">
                <ul>
                    <li *ngFor="let t of this.SpotDetailInfo.NearHotel" style="text-align: left;">
                        {{t.Item1}}（{{ this.appservice.formatdistence(t.Item2)}}）
                    </li>
                </ul>
            </p-tabPanel>
        </p-tabView>
    </div>