<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            {{this.Spot.Name}}
            <button *ngIf="this.Spot.ALevel !=='' && this.Spot.ALevel !=='+'" style="margin-right: 5px;"
                class="btn btn-sm btn-outline-warning">{{this.Spot.ALevel}}</button>
            <button *ngIf="this.Spot.Type.indexOf('红色') !==-1" style="margin-right: 5px;"
                class="btn btn-sm btn-outline-danger">红色</button>
            <button *ngIf="this.Spot.Type.indexOf('文化') !==-1" style="margin-right: 5px;"
                class="btn btn-sm btn-outline-primary">文化</button>
            <button *ngIf="this.Spot.Type.indexOf('休闲') !==-1" style="margin-right: 5px;"
                class="btn btn-sm btn-outline-success">休闲</button>
            <button *ngIf="this.Spot.Type.indexOf('亲子') !==-1" style="margin-right: 5px;"
                class="btn btn-sm btn-outline-info">亲子</button>
        </h4>
        <p class="category"><i class="fas fa-map-marked-alt"></i>&nbsp;{{this.Spot.Address}}</p>
    </div>
    <div class="card-body">
        <div style="text-align:center;" *ngIf="this.Spot.ALevel !==''">
            <img [lazyLoad]="'/assets/image/spot/' + this.Spot.Name + '.jpg'" width="320px" height="320px"
                style="margin-left: auto;margin-right: auto;">
            <br />
            <br />
        </div>
        <div *ngIf="Spot.Description !==''" style="width: 320px;margin-left: auto;margin-right: auto;text-align: left;">
            {{Spot.Description.substr(0,150)}}{{Spot.Description.length > 150?"[更多]":""}}
        </div>
    </div>
    <div *ngIf="Mode === 0" class="card-footer">
        <button style="width: 96px;height: 36px;" class="btn btn-primary"
            (click)="this.router.navigateByUrl('spot/' + this.appservice.EncodeURI(Spot.Name));"><i
                class="fas fa-list"></i>&nbsp;详细</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button style="width: 96px;height: 36px;" class="btn btn-danger"
            (click)="this.appservice.AddToFav(this.Spot,type); this.toastService.show(this.Spot.Name + ' 加入心愿单', { classname: 'bg-danger text-light', delay: 3000 });"><i
                class="fas fa-heart"></i>&nbsp;收藏</button>
    </div>
    <div *ngIf="Mode === 1" class="card-footer">
        <button style="width: 96px;height: 36px;" class="btn btn-primary"
            (click)="this.router.navigateByUrl('spot/' + this.appservice.EncodeURI(Spot.Name));"><i
                class="fas fa-list"></i>&nbsp;详细</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button style="width: 96px;height: 36px;" class="btn btn-danger"
            (click)="this.appservice.DelFormPlan(this.Spot.Name);"><i class="far fa-trash-alt"></i>&nbsp;删除</button>
    </div>
    <div *ngIf="Mode === 2" class="card-footer">
        <button style="width: 96px;height: 36px;" class="btn btn-primary"
            (click)="this.router.navigateByUrl('spot/' +  this.appservice.EncodeURI(Spot.Name));"><i
                class="fas fa-list"></i>&nbsp;详细</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button style="width: 96px;height: 36px;" class="btn btn-success"
            (click)="this.appservice.AddToPlan(Spot,type);this.toastService.show(this.Spot.Name + ' 已添加', { classname: 'bg-success text-light', delay: 3000 });"><i class="fas fa-plus"></i>&nbsp;添加</button>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<br />