<div style="position:relative;"
    [ngStyle]="{'height':this.appservice.clientHeight + 'px','width':appservice.clientWidth + 'px'}">
    <nav class="navbar navbar-light bg-light" style="position: absolute;z-index: 99;top:0px;width: 100%;">
        <img src="assets/image/景点.png" width="30" height="30" alt="">
        <input #key class="form-control" style="width: 50%;" type="search" placeholder="想玩什么" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="Search(key.value)">检索</button>
        <img src="assets/image/返回.png" width="30" height="30" alt="" (click)="Return()" style="float: right;">
    </nav>
    <div style="position: absolute;z-index: 99;top:50px;text-align: center;overflow-y: scroll;"
        [ngStyle]="{height:this.appservice.clientHeight-50 + 'px','width':appservice.clientWidth + 'px'}">
        <spot-item *ngFor="let spot of this.showItem" [SpotInfo]="spot"></spot-item>
    </div>
</div>