<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">{{this.SpotInfo.NAME}}({{this.SpotInfo.ZLDJ}})</h4>
        <p class="category">{{this.SpotInfo.ADDRESS}}</p>
    </div>
    <div class="card-body" style="text-align:center;">
        <img [src]="'/assets/image/spot/' + this.SpotInfo.NAME + '.jpg'" width="320px" height="320px"  style="margin-left: auto;margin-right: auto;">
        <br /><br />
        <button style="width: 320px;height: 48px;" class="btn btn-primary" (click)="this.router.navigateByUrl('spot/' + this.SpotInfo.NAME );" >详细信息</button>
    </div>
</div>