<section class="content-header">
    <h1>
      心愿单
    </h1>
    <ol class="breadcrumb">
      <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">
        心愿单
      </li>
    </ol>
  </section>
  <section class="content">
    <table class="table table-striped" style="width: 600px;">
      <thead>
        <tr>
          <th scope="col">名称</th>
          <th scope="col">类别</th>
          <th scope="col">计数</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of this.favourite">
          <th>{{f.Name}}</th>
          <td>{{this.getCatagory(f.Catagory)}}</td>
          <td>{{f.Count}}</td>
        </tr>
      </tbody>
    </table>
  </section>